# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Environment Variables
.env

# Logs
*.log

# Temporary Files
.cache/
temp/
tmp/

# Upload PDFs (Runtime)
*.pdf

# OS Files
.DS_Store
Thumbs.db