fastapi
uvicorn
python-multipart
pydantic-settings
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu==1.7.4
pypdf
sentence-transformers
# Force PyTorch CPU version to save RAM and disk space
--extra-index-url https://download.pytorch.org/whl/cpu
torch
