fastapi
uvicorn
python-multipart
pydantic-settings
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu==1.7.4
numpy<2.0.0
pypdf
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
